<div class = 'search-box'>
  <input type="search" [(ngModel)]="sort"
                          list="cities"
                          name="search"
                          class="search-input"
                        (ngModelChange)='onFieldChange($event)'>
  <select class='select-distance'>
    <option *ngFor="let item of distanceItem" [value]="item">{{(item/1000)+' kms'}}</option>
  </select>

  <select class='select-sorting'>
    <option *ngFor="let item of orderItem" [value]="item">{{item}}</option>
  </select>
</div>

<datalist id="cities">
   <option *ngFor="let city of cities" value={{city.name}}>
 </datalist>


<ul class="result">
  <li *ngFor="let car of cars">
    {{car | json}}
  </li>
</ul>
